# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies specific to website directory
/website/node_modules
/website/.pnp
/website.pnp.*
/website/.yarn/*
!/website/.yarn/patches
!/website/.yarn/plugins
!/website/.yarn/releases
!/website/.yarn/versions

# build outputs
/website/build
/website/.next
/website/.out

# misc
/website/.DS_Store
/website/*.pem

# next.js (redundant but harmless)
/website/.next/
/website/out/

# env files (can opt-in for committing if needed)
!**/.env.example
.env.local

# typescript
/website/*.tsbuildinfo
/website/next-env.d.ts

# Traefik
infrastructure/traefik/letsencrypt/
infrastructure/traefik/logs/

# Seafile
infrastructure/seafile/conf/
